[submodule "js/mustache"]
	path = js/mustache
	url = git@github.com:janl/mustache.js.git
	branch = master
[submodule "js/discord"]
	path = js/discord
	url = git@github.com:hydrabolt/discord.js.git
	branch = webpack
